{%
block stylesheets %}
	<link
	rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css"/>

	<!-- ===== Fontawesome CDN Link ===== -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"/>
	{{ encore_entry_link_tags("partenaires") }}

{% endblock %}


<section data-aos="fade-left" data-aos-anchor="#example-anchor" data-aos-offset="500" data-aos-duration="2000">
	<div class="swiper mySwiper container">
		<div class="swiper-wrapper content">
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/men2.jpg') }}" alt="profile 1"/>

					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Fake spider</span>
						<span class="profession">Web Developer</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Sponsor</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/girls-costume.jpg') }}" alt=""/>
					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Carved pumpkins</span>
						<span class="profession">Web Marketing</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Sponsor</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/animatronics.jpg') }}" alt=""/>
					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Battery-powered</span>
						<span class="profession">Game manager</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Economist</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/boys-costume.jpg') }}" alt=""/>
					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Frosting tubes</span>
						<span class="profession">Web Designer</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Programmer</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/group.jpg') }}" alt=""/>
					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Cupcake liners</span>
						<span class="profession">Scenarist</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Sponsor</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/couples.jpg') }}" alt=""/>
					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Terminator</span>
						<span class="profession">Actor</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Sponsor</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/new-2024.jpg') }}" alt=""/>
					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Seasonal fruits</span>
						<span class="profession">Web Developer</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Sponsor</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/decor.jpg') }}" alt=""/>
					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Colored chocolate</span>
						<span class="profession">Web Developer</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Sponsor</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
			<div class="swiper-slide card">
				<div class="card-content">
					<div class="image">
						<img src="{{ asset('images/essentials.jpg') }}" alt=""/>
					</div>

					<div class="media-icons">
						<i class="fab fa-facebook"></i>
						<i class="fab fa-twitter"></i>
						<i class="fab fa-github"></i>
					</div>

					<div class="name-profession">
						<span class="name">Pumpkin seeds</span>
						<span class="profession">Web Developer</span>
					</div>

					<div class="rating">
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="fas fa-star"></i>
						<i class="far fa-star"></i>
						<i class="far fa-star"></i>
					</div>

					<div class="button">
						<button class="aboutMe">Sponsor</button>
						<button class="hireMe">Learn more</button>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="swiper-button-next"></div>
	<div class="swiper-button-prev"></div>
	<div class="swiper-pagination"></div>
</section>

{% block javascripts %}
	<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
	{{ encore_entry_script_tags("partenaires") }}

{% endblock %}
