{% extends 'base.html.twig' %}
{% block title %}
	{{ post.title }}

{% endblock %}
{% block content %}{% endblock %}
{% block stylesheets %}
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>

	{{ encore_entry_link_tags("home") }}
	{{ encore_entry_link_tags("add-image-post") }}
	{{ encore_entry_link_tags("publication") }}
	{{ encore_entry_link_tags("control-emoji") }}
	{{ encore_entry_link_tags("posts-detail") }}

{% endblock %}
{% block body %}
	<div class="container url-detect" id="publication" style="margin-top: 110px">
		<div class="titre" id="titre">
			<h3>{{ post.title }}</h3>
		</div>

		<div class="sujet">
			<div class="row">
				<div class="col-md-2">
					<p>Admin@poleIt</p>
					<p>

						<img src="{{ asset('images/profile/admin.png') }}" width="50px" alt="user"/>


					</p>
				</div>
				<div class="col-md-10">
					<div class="time">
						<p style="margin-bottom: 15px">
							<small>
								{{ post.createdAt | date|ago(locale='fr') }}</small>
						</p>
					</div>

					<p id="pub-content">
						{{ post.content }}
					</p>

					<div class="row" style="margin-top:20px">

						<div class="col-md-6 col-lg-6 col-sm-12">
							<p>
								<img src="{{ asset(urlPublication ~ post.image) }}" class="img-fluid post-image" alt=""/>
							</p>
						</div>

					</div>
				</div>
			</div>

		</div>


	</div>


{% endblock %}
{% block
javascripts %}
	{{ encore_entry_script_tags("posts-detail") }}
	{{ encore_entry_script_tags("home") }}
	{{ encore_entry_script_tags("add-image-post") }}
	{{ encore_entry_script_tags("publication") }}
	{{ encore_entry_script_tags("control-emoji") }}
	{{ encore_entry_script_tags("emoji") }}

{% endblock %}
