{% extends 'base.html.twig' %}
{% block title %}Activités pour enfants
{% endblock %}
{% block content %}
	Activités pour enfants
{% endblock content %}
{% block
stylesheets %}
	{{ encore_entry_link_tags("enfants") }}

{% endblock %}
{% block body %}
	<div class="container">

		<br>
		<br><br>
		<div class="row bg-dark align-items-center justify-content-center text-white ">
			<h1 class="text-center ">Jeux et activités reservés aux enfants</h1>
		</div>


		<br>
		<div>

			<div class="row bloc" data-aos="zoom-in-up" data-aos-duration="2000">
				<h4>
					Nos astronautes junior dans les tenues des astronautes professionnel</h4>
				<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 ">
					<div class="card">
						<img src="{{ asset('images/astro/enfants_activites.png')}}" class="img-fluid" alt="...">

					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 child-activities ">
					<p>Pour les futurs explorateurs de l'espace, nous proposons des tenues d'astronautes et leurs accessoires. Grâce à notre partenariat avec l'Agence Spatiale Européenne (ESA), nos petits astronautes, filles et garçons, peuvent revêtir une tenue réaliste.</p>
					<p>avec de nombreux patchs et s'inventer des histoires.l y a de nombreuses occasions où vous pouvez vous habiller en Astronaute avec l'un des modèles que nous proposons dans notre large gamme en ligne.
					</p>
					<p>Sans aucun doute, les déguisements de l’espace sont une option originale pour ne pas passer inaperçus lors du Carnaval, Halloween, d'une fête à thème ou d'un anniversaire. vous pouvez transformer les petits de la maison en des fiers conquérants de l’espace.</p>
				</div>

			</div>
			<div class="row bloc" data-aos="fade-right" data-aos-duration="2000">
				<h4>
					Jeux de recherche de trésor similaire aux missions des astronautes sur la lune</h4>
				<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 ">
					<div class="card">
						<img src="{{ asset('images/astro/enfant1.jpeg')}}" class="img-fluid" alt="...">

					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 child-activities ">
					<p>A tout âge on peut partir à la découverte des étoiles qui nous invitent au rêve et à la méditation. La Grande Ourse, la Petite Ourse, sont les plus connues, mais toutes les constellations de la voute céleste sont pleine de mystères et d’enchantements.</p>
					<p>Nous savons aujourd’hui qu’il existe des systèmes planétaires et que certains de ces corps lointains orbitent dans la « zone possiblement habitable » de leur étoile. Là, où une température propice à la vie, et où la présence d’eau liquide est possible.</p>
					<p>Aujourd’hui, je vous propose une chasse au trésor d’anniversaire sur ce thème pour que la passion des étoiles et des planètes lointaines de vos enfants devienne une expérience ludique, et que le rêve devienne réalité le temps du jeu</p>
					<p>Planète en danger est un conte qui se vit comme un jeu symbolique. Les enfants adorent ce type de divertissement où l’on joue à y croire. La fiction que vous allez leur permettre de vivre, en téléchargeant ce divertissement, va les conduire à entrer en relation avec des extraterrestres qui vivent sur une planète lointaine, issue d’une constellation inconnue nommée</p>
				</div>

			</div>
			<div class="row bloc" data-aos="fade-left" data-aos-duration="2000">
				<h4>
					Les touts petits apprennent à assembler des fusées factices</h4>
				<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 ">
					<div class="card last">
						<img src="{{ asset('images/astro/fusee.jpeg')}}" class="img-fluid" alt="...">

					</div>
				</div>
				<div class="col-md-6 col-lg-6 col-xs-12 col-sm-12 child-activities ">
					<p>Les enfants construisent leurs fusées à l'aide de bouteilles en plastique de 0,5 L ou plus ! La fusée s’élance dans le ciel à plus de 40 mètres de haut . Les petits s’émerveillent de voir l’engin partir dans le ciel à plus de 100 mètres de haut et redescendre élégamment en parachute.
					</p>
					<p>Après la décoration de leurs fusées, les tirs se font soit juste après l'atelier, soit à une date ultérieure. On peut aussi lancer les fusées de nuit en l'équipant d'une lumière clignotante mais également d'un petit satellite lumineux qui redescends lui aussi en parachute !</p>
					<p>Demandez aux enfants d’expliquer eux-mêmes ce qui a propulsé leur fusée dans les airs. L’air qui se trouvait dans la bouteille avant que tu la comprimes est un gaz. C’est cet air qui est monté dans la paille lorsque tu as exercé une pression sur ta bouteille,
					</p>


				</div>

			</div>


		</div>
	</div>
{% endblock %}
{% block javascripts %}

	{{ encore_entry_script_tags("enfants") }}


{% endblock %}
