{% import 'macros/pagination.html.twig' as macrosPagination %}
{% extends
'base.html.twig' %}
{% block title %}Forum visa
{% endblock %}
{# {% block
link %} <link rel="canonical" href="{{ path('app_home') }}" /> {% endblock link
%} #}
{% block content %}Liste des forums
{% endblock %}
{% block stylesheets %}

	{{ encore_entry_link_tags("home") }}
{% endblock %}
{% block body %}
	<div class="container" style="margin-top: 110px">


		<br><br>
		<div class="row bg-dark align-items-center justify-content-center text-white " style="padding-top:10px" ;>
			<h1 class="text-center forum-list-h1">Liste des sujets de publications chez PoleIt</h1>
		</div>
		<br>
	</h3>
	<br>
	{% if forum|length >0 %}
		<div class="row">
			{% for item in forum.results %}

				<div class="col-md-4 col-lg-4 col-xs-12 col-sm-12 cart-wrapper" style="margin-bottom:30px;">
					<a href="{{ path('app_post_get_detail', { id: item.id }) }}">
						<div class="card forum-list">
							<img src="{{ asset(url ~ item.image) }}" class="card-img-top" alt="...">
							<div class="card-body ">
								<h5 class="card-title">{{item.title}}</h5>
								<p class="card-text article-content">{{item.content}}</p>
							</div>
						</div>
					</a>
				</div>

			{% endfor %}
		</div>
	{% endif %}

	<div class="paginations">
		{{ macrosPagination.pagination_post(forum,"publication_list") }}
	</div>
</div>{% endblock %}{% block javascripts %}
{{ encore_entry_script_tags("home") }}{% endblock %}
