{% extends 'base.html.twig' %}
{% block title %}Procédure de visa études
{% endblock %}
{% block content
%}{% endblock %}
{% block stylesheets %}

	{{ encore_entry_link_tags("home") }}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
{% endblock %}
{% block body %}
	<div class="banniere">
		<img src="{{ asset('images/banniere.jpg') }}" class="img-fluid" alt="user"/>

	</div>


	<div class="container">

		<div id="astro-text">
			<h1>Orleans astro-pôle</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vitae quam et tortor consequat porta. Sed faucibus, ligula quis mollis lobortis, diam felis tempus enim, a vestibulum eros quam ac magna. Vestibulum varius porttitor elit, et vulputate odio egestas sit amet.</p>
		</div>
	</div>
	<div class="marquee">
		<marquee behavior="" direction="">
			<p>Bienvenue à poleit votre plateforme d'astronomie à Orléans</p>
		</marquee>
	</div>

	<div>
		<div class="container">

			<div class="row" id="observatoires" data-aos="zoom-in-up" data-aos-duration="2000">
				<div class="col-lg-6 col-md-6 col-12 planetarium">
					<h2>Notre planetarium</h2>
					<p><img src="{{ asset('images/astro/planetarium.jpg') }}" class="img-fluid " alt="planetarium"></p>
					<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur praesentium corporis porro libero quasi, voluptatibus nulla placeat hic similique aliquid temporibus autem facilis itaque illum aspernatur qui repudiandae cupiditate iure.</p>
				</div>
				<div class="col-lg-6 col-md-6 col-12 observatoire">
					<h2>Notre planetarium</h2>
					<p><img src="{{ asset('images/astro/observatoire.jpg') }}" class="img-fluid " alt="observatoire"></p>
					<p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iure quo aut voluptate. Doloribus quia delectus debitis animi quidem autem! Molestias doloribus ut voluptates, delectus facilis tempora quidem exercitationem natus illum.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ======= Counts Section ======= -->
	<div class="container" style="margin-top:20px;margin-bottom:30px">

		<div class="row" data-aos="fade-up" data-aos-duration="3000">
			<div class="col-lg-6 col-md-6 col-12 ">
				<div class="embed-responsive">
					<iframe width="600" height="500" src="https://www.youtube.com/embed/nxDlkegwabM?si=4vyMoPFHNOq-fqsb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-12 ">
				<div class="embed-responsive ">
					<iframe width="600" height="500" src="https://www.youtube.com/embed/nxDlkegwabM?si=4vyMoPFHNOq-fqsb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
	<br>
	<!-- End Counts Section -->

	<div class="container activites">
		<h2>Nos spécialisations</h2>
		<div class="row" data-aos="fade-right" data-aos-duration="2000">
			<div class="col-lg-3 col-md-3 col-6 ">
				<p><img src="{{ asset('images/astro/globe.png') }}" class="img-fluid spec" alt="arriere-plan-lunaire-futuriste"></p>
				<h3>Édition</h3>
				<p>Lorem ipsum dolor sit amet, consectetur elit.</p>
			</div>

			<div class="col-lg-3 col-md-3 col-6 ">
				<p><img src="{{ asset('images/astro/mesure.png') }}" class="img-fluid spec" alt="arriere-plan-lunaire-futuriste"></p>
				<h3>Carrière</h3>
				<p>Lorem ipsum dolor sit amet, consectetur elit.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-6 ">
				<p><img src="{{ asset('images/astro/atom.png') }}" class="img-fluid spec" alt="arriere-plan-lunaire-futuriste"></p>
				<h3>Education</h3>
				<p>Lorem ipsum dolor sit amet, consectetur elit.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-6 ">
				<p><img src="{{ asset('images/astro/mars.png') }}" class="img-fluid spec" alt="arriere-plan-lunaire-futuriste"></p>
				<h3>Meeting</h3>
				<p>Lorem ipsum dolor sit amet, consectetur elit.</p>
			</div>
		</div>
		<div class="centre-spatial">
			<div class="row" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
				<div class="col-lg-6 col-md-6 col-12 ">
					<p><img src="{{ asset('images/astro/moon-inverse1.png') }}" width="380px" alt=""></p>
					<p><img class="rotating" src="{{ asset('images/astro/moon-sign-1-1.png') }}" alt=""></p>
					<p><img class="rotating-deux" src="{{ asset('images/astro/moon-sign-3.png') }}" alt=""></p>
				</div>
				<div class="col-lg-6 col-md-6 col-12 ">
					<div class="centre-spatial-text ">
						<h4>What Is Astronomy?</h4>
						<p class="centre-spatial-text-first">What we do</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, quas et quo, recusandae asperiores vitae, repellat alias rem ad nulla voluptatum eius in nobis quasi harum voluptates! Et, perferendis nobis.</p>
						<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium, voluptas consectetur iste tempore nesciunt alias architecto porro iusto accusamus eveniet quod tempora officiis delectus in repellat, voluptate minus harum? Veritatis?</p>
						<button class="astro-button">En savoir plus</button>

					</div>

				</div>
			</div>

		</div>
	</div>


	<section class="container" id="solar-system">
		<header>
			<p>Astronomy Discovery</p>
			<h1>Solar System Rocky Planets</h1>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus
				<br>nec ullamcorper mattis, pulvinar dapibus leo.</p>
		</header>
		<div class="row solar-system" data-aos="fade-left" data-aos-duration="2000">
			<div class="col-lg-3 col-md-3 col-12 ">
				<p><img src="{{ asset('images/astro/mercury-1.png') }}" class="img-fluid planete" alt="mercury-1"></p>
				<h2>Mercury</h2>
				<p>Lorem ipsum dolor sit amet, consectetur elit.</p>
			</div>

			<div class="col-lg-6 col-md-6 col-12 ">
				<p><img src="{{ asset('images/astro/venus-2.png') }}" class="img-fluid venus" alt="venus-2"></p>
				<h2>Venus</h2>
				<p>Lorem ipsum dolor sit amet, consectetur elit.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-12 ">
				<p><img src="{{ asset('images/astro/mars-red-planet-in-space.png') }}" class="img-fluid planete" alt="mars-red-planet-in-space"></p>
				<h2>Mars</h2>
				<p>Lorem ipsum dolor sit amet, consectetur elit.</p>
			</div>

		</div>
	</section>


	<div class="container carousel">
		<h2>Nos derniers articles</h2>
		<div class="slider owl-carousel row">

			{% for item in articles %}
				<div class="card">
					<div class="img"><img src="{{ asset(url ~ item.image) }}" alt=""></div>
					<div class="content">
						<div class="title">{{item.title}}</div>
						<div class="sub-title">Graphic Designer</div>
						<p class="article-content">{{item.content}}</p>
						<div class="btn">
							<button>Read more</button>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>

</div>{% endblock %}{% block javascripts %}
{{ encore_entry_script_tags("home") }}
{{ encore_entry_script_tags("product") }}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>{% endblock %}
