{% extends 'base.html.twig' %}
{% block title %}PoleIt Orléans
{% endblock %}
{% block content
%}{% endblock %}
{% block stylesheets %}
	{{ parent() }}

	{{ encore_entry_link_tags("home") }}

	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css">
{% endblock %}
{% block body %}
	{{ parent() }}
	<div class="banniere">
		<img src="{{ asset('images/banniere.jpg') }}" class="img-fluid" alt="user"/>

	</div>


	<div class="container">

		<div id="astro-text">
			<h1>Orleans astro-pôle</h1>
			<p>Bienvenue chez PoleIt - Centre d'Astronomie d'Orléans
																																																																																												  la meilleur destination pour explorer les mystères de l'univers ! Situé au cœur d'Orléans, notre centre d'astronomie est dédié à l'exploration cosmique et à la découverte des merveilles du ciel.</p>
		</div>
	</div>
	<div class="marquee">
		<marquee behavior="" direction="">
			<p>Bienvenue à poleit votre plateforme d'astronomie à Orléans</p>
		</marquee>
	</div>

	<div>
		<div class="container">

			<div class="row" id="observatoires" data-aos="zoom-in-up" data-aos-duration="2000">
				<div class="col-lg-6 col-md-6 col-12 planetarium">
					<h2>Notre planetarium</h2>
					<p><img src="{{ asset('images/astro/planetarium.jpg') }}" class="img-fluid " alt="planetarium"></p>
					<br>
					<p>Notre planetarium en forme de dôme projette une simulation réaliste,nous disposons de projecteurs à effets spéciaux qui peuvent créer des simulations d'aurores boréales, de météores et d'autres événements astronomiques.c'est un  moyen amusant et éducatif d'apprendre l'astronomie car nous proposons une.
					</p>
				</div>
				<div class="col-lg-6 col-md-6 col-12 observatoire">
					<h2>Notre Observatoire</h2>
					<p><img src="{{ asset('images/astro/observatoire.jpg') }}" class="img-fluid " alt="observatoire"></p>
					<br>
					<p>Nos passionnés d'astronomie observe les evenements terrestre et celestre a travers cet observatoire ,qui est équipés de télescopes , un dome ,Caméras et Détecteurs . il est utilisés pour recueillir des données sur les objets célestes tels que les étoiles, les planètes, les comètes et les galaxies.</p>
				</div>
			</div>
		</div>
	</div>
	<!-- ======= Counts Section ======= -->
	<div class="container" style="margin-top:30px;margin-bottom:30px">

		<div class="row" data-aos="fade-up" data-aos-duration="3000">
			<div class="col-lg-6 col-md-6 col-12 ">
				<div class="embed-responsive">
					<iframe width="600" height="500" src="https://www.youtube.com/embed/nxDlkegwabM?si=4vyMoPFHNOq-fqsb" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>
			</div>

			<div class="col-lg-6 col-md-6 col-12 ">
				<div class="embed-responsive ">
					<iframe width="600" height="500" src="https://www.youtube.com/embed/c76T7uBdJoU?si=Du651kCtzt9kOWpx" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
				</div>

			</div>
		</div>
	</div>
	<br>
	<!-- End Counts Section -->

	<div class="container activites">
		<h2>Nos spécialisations</h2>
		<div class="row" data-aos="fade-right" data-aos-duration="2000">
			<div class="col-lg-3 col-md-3 col-6 ">
				<p><img src="{{ asset('images/astro/globe.png') }}" class="img-fluid spec" alt="arriere-plan-lunaire-futuriste"></p>
				<h3>Globe terrestre</h3>
				<p>Un globe terrestre est une sphère sur laquelle est dessinée la surface de la Terre.</p>
			</div>

			<div class="col-lg-3 col-md-3 col-6 ">
				<p><img src="{{ asset('images/astro/mesure.png') }}" class="img-fluid spec" alt="arriere-plan-lunaire-futuriste"></p>
				<h3>Carrière</h3>
				<p>Venez étudier l’origine et l'évolution de l'univers à travers nos cours pratiques.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-6 ">
				<p><img src="{{ asset('images/astro/atom.png') }}" class="img-fluid spec" alt="arriere-plan-lunaire-futuriste"></p>
				<h3>L'atome: tout est molécule.</h3>
				<p>la plus petite partie d'un corps simple pouvant se combiner chimiquement avec un autre.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-6 ">
				<p><img src="{{ asset('images/astro/mars.png') }}" class="img-fluid spec" alt="arriere-plan-lunaire-futuriste"></p>
				<h3>Decouverte de la lune</h3>
				<p>Neil Armstrong fût le premier homme à avoir posé le pied sur la Lune le 21 juillet 1969 à 2 h 56 UTC.</p>
			</div>
		</div>
		<div class="centre-spatial">
			<div class="row" data-aos="flip-left" data-aos-easing="ease-out-cubic" data-aos-duration="2000">
				<div class="col-lg-6 col-md-6 col-12 ">
					<p><img src="{{ asset('images/astro/moon-inverse1.png') }}" width="380px" alt=""></p>
					<p><img class="rotating" src="{{ asset('images/astro/moon-sign-1-1.png') }}" alt=""></p>
					<p><img class="rotating-deux" src="{{ asset('images/astro/moon-sign-3.png') }}" alt=""></p>
				</div>
				<div class="col-lg-6 col-md-6 col-12 ">
					<div class="centre-spatial-text ">
						<h4>C'est quoi l'astronomie?</h4>
						<p class="centre-spatial-text-first">Notre mission</p>
						<p>Notre mission est de rendre l'astronomie accessible à tous et de stimuler la curiosité pour les sciences de l'espace. Avec notre équipement d'expert, y compris notre radiotélescope géant, nous offrons une expérience unique et éducative pour les visiteurs de tous âges.</p>
						<p>Une équipe de passionnés et d'experts est dédiée à partager les merveilles de l'univers avec le grand public.
						</p>
						<button class="astro-button">En savoir plus</button>

					</div>

				</div>
			</div>

		</div>
	</div>


	<section class="container" id="solar-system">
		<header>
			<p>Découverte de l'astronomie</p>
			<h1>Planètes rocheuses du système solaire</h1>
			<p>des planètes qui ont une surface solide, comme celle de la Terre. Elles sont composées essentiellement de roche,
				<br>bien qu'aussi de métal. Elle sont possiblement habitables.</p>
		</header>
		<div class="row solar-system" data-aos="fade-left" data-aos-duration="2000">
			<div class="col-lg-3 col-md-3 col-12 ">
				<p><img src="{{ asset('images/astro/mercury-1.png') }}" class="img-fluid planete" alt="mercury-1"></p>
				<h2>Mercure</h2>
				<p>Mercure est la planète la plus proche du Soleil et la plus petite planète de notre système solaire – à peine plus grande que la Lune de la Terre.</p>
			</div>

			<div class="col-lg-6 col-md-6 col-12 ">
				<p><img src="{{ asset('images/astro/venus-2.png') }}" class="img-fluid venus" alt="venus-2"></p>
				<h2>Venus</h2>
				<p>deuxième planète après le Soleil et la sixième plus grande planète. C'est la planète la plus chaude de notre système solaire.</p>
			</div>
			<div class="col-lg-3 col-md-3 col-12 ">
				<p><img src="{{ asset('images/astro/mars-red-planet-in-space.png') }}" class="img-fluid planete" alt="mars-red-planet-in-space"></p>
				<h2>Mars</h2>
				<p>quatrième planète du Système solaire par ordre croissant de la distance au Soleil et la deuxième par ordre croissant de la taille et de la masse.</p>
			</div>

		</div>
	</section>


	<div class="container carousel">
		<h2>Nos derniers articles</h2>
		<div class="slider owl-carousel row ">

			{% for item in articles %}
				<div class="card  ">
					<div class="img"><img src="{{ asset(url ~ item.image) }}" alt=""></div>
					<div class="content">
						<div class="title">{{item.title}}</div>
						{# <div class="sub-title">Graphic Designer</div> #}
						<p class="article-content">{{item.content}}</p>
						<div class="btn">
							<button>
								<a href="{{path('app_post_get_detail',{id:item.id})}}">Lire la suite ...</a>
							</button>
						</div>
					</div>
				</div>

			{% endfor %}

		</div>
	</div>

</div>{% endblock %}{% block javascripts %}
{{ parent() }}
{{ encore_entry_script_tags("home") }}
{{ encore_entry_script_tags("product") }}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>{% endblock %}
