{% extends 'base.html.twig' %}
{% block title %}Publication d'une annonce
{% endblock %}
{% block content %}
	Partage tes idées de costume
{% endblock content %}
{% block
stylesheets %}
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
	{{ encore_entry_link_tags("posts") }}
	{{ encore_entry_link_tags("add-image-post") }}

{% endblock %}
{% block body %}
	<div class="container" id="publication" style="margin-bottom: 20px">
		<div class="row envelope">
			<div class="col-lg-2 col-sm-12 col-md-12"></div>
			<div class="col-lg-8 col-sm-12 col-md-12">
				<div class="wrapper">
					<h1 class="text-center">
						{% if update == true %}
							Mettre à jour la publication
						{% else %}
							Faire
																					          une publication
						{% endif %}
					</h1>

					<div class="p-3" data-turbo="true">
						{{ form_start(form) }}
						<div class="row">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6">
								{{ form_row(form.title) }}
							</div>
							<div class="col-12 col-sm-12 col-md-6 col-lg-6">
								{{ form_row(form.category) }}
							</div>
						</div>

						<div class="row description-upload-area">
							<div class="col-12 col-sm-12 col-md-6 col-lg-6">
								{{ form_row(form.content) }}
							</div>
							<div class="col-12 col-sm-12 col-md-6 col-lg-6 upload-area">
								<div class="upload__box">
									<div class="upload__btn-box">
										{{ form_row(form.image) }}
									</div>
									<div class="upload__img-wrap"></div>
								</div>
							</div>
						</div>
						{% if app.user and app.user.isIsVerified == true %}
							<button type="submit" class="btn button mt-3">
								{% if update == true %}
									Modifier
								{% else %}
									Envoyer
								{% endif %}
							</button>
						{% else %}

							<p class="text-center text-danger">Vous ne pouvez pas publier sans avoir activé votre compte</p>
						{% endif %}
						<div class="loader">
							<img src="{{ asset('images/loader.gif') }}" alt=""/>
						</div>
						{{ form_end(form) }}
					</div>
				</div>
			</div>
			<div class="col-lg-2 col-sm-12 col-md-12"></div>
		</div>
	</div>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
	{{ encore_entry_script_tags("posts") }}
	{{ encore_entry_script_tags("add-image-post") }}

{% endblock %}
