{% block stylesheets %}
	<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet"/>
	{{ encore_entry_link_tags("footer") }}

{% endblock %}


<!-- ======= Footer ======= -->
<footer id="footer">

	<div class="footer-top">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6 footer-contact">
					<h3>
						<a href="{{ path('app_home') }}"><img src="{{ asset('images/logo.png') }}" width="150px" class="img-fluid" alt="user"/></a>
					</h3>
					<p>

						<strong>Email:</strong>
						poleit@gmail.com<br>
					</p>
					<p>Adresse: 85 rue de l'inovation Orléans</p>
					<p>Tel: +3300000000000</p>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>Plan du site</h4>
					<ul>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="{{ path('app_home') }}">Accueil</a>
						</li>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="{{ path('app_post_forum') }}">Forum</a>
						</li>

						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="{{ path('app_contact') }}">Contact</a>
						</li>
					</ul>
				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>A la une</h4>
					<ul>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Expositions en journée</a>

						</li>

						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Expositions nocturne</a>

						</li>

						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Activités pour petits et grands</a>

						</li>
					</ul>


				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h4>A suivre bientôt</h4>
					<ul>
						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Observation de la planète Mars</a>

						</li>

						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Voyage sur la lune</a>

						</li>

						<li>
							<i class="bx bx-chevron-right"></i>
							<a href="#">Visite 4D</a>

						</li>
					</ul>


				</div>

			</div>
		</div>
	</div>


</footer>
